<!--
<div>
    <h2>Login</h2>
    <div>
        <label>Username </label>
        <input type="text" id="username" [(ngModel)]="username">
    </div>
    <div>
        <label>Password </label>
        <input type="password" id="password" [(ngModel)]="password">
    </div>
    <button (click)="login()">LOGIN</button>
</div>
-->

<div>
    <h2>Login</h2>

    <form>
    <div>
        <mat-label>Username </mat-label>
        <input name = "uname" type="text" matInput  id="username" [(ngModel)]="username">
    </div>

    <div>
        <mat-label>Password </mat-label>
        <input name = "pass" type="password" matInput id="password" [(ngModel)]="password">
    </div>

    <button mat-raised-button color="primary" (click)="login()">Login</button>
    </form>

    <div>
        <button mat-raised-button color="primary" [routerLink]="['/register']">Register</button>
    </div>
    
</div>
